#
#
layout pipenv

# alias a='/home/fuzz/.local/share/virtualenvs/self-hosted-logging-0E79oUg5/bin/python /home/fuzz/git/github.com/ewasser/self-hosted-logging/xf.py'

hostname=$(hostname --short)
hostname_with_first_uppercase=$(echo ${hostname:0:1} | tr '[:lower:]' '[:upper:]')${hostname:1}

export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
export APP_SETTINGS="project.server.config.DevelopmentConfig"

export FLASK_APP=project.server.startup:create_app

export API_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE5NTU2MTc4ODgsImlhdCI6MTY0MDI1Nzg4OCwic3ViIjoxfQ.faJFNFfFzItAkpgbW9cJAZyQ0tJKlPstfGKv4h-bkm4"

export PATH=$(pwd):$(pwd)/bin:$PATH
#export ANSIBLE_LIBRARY=$(pwd)/library

#export PYTHONPATH=$(pwd)
export PYTHONPATH=$(pwd):$(pwd)/project

#   These 2 things are for our test worker
export PYTHONPATH=$PYTHONPATH:$(pwd)/.local/lib/python
export PHAGE_NODE_CONFIGURATION=$(pwd)

