[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-wtf = "*"
diskcache = "*"
pillow = "*"
requests = "*"
coverage = "*"
flask-migrate = "*"
flask-testing = "*"
flask-script = "*"
flask-unittest = "*"
pytest = "*"
pyjwt = "*"
pyyaml = "*"
doit = "*"
flask-cors = "*"
markdown2 = "*"
fs = "*"
human-datetimedelta = "*"
pytz = "*"
humanize = "*"
sqlalchemy = "*"
ansicolors = "*"
flask-restful = "*"
tabulate = "*"
marshmallow = "*"
wtforms = "*"
multiset = "*"
prettytable = "*"
aiofiles = "*"
aiohttp = "*"
python-telegram-bot = "*"
beautifulsoup4 = "*"
click = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
