{% extends "base.jinja2" %}

{% block container %}

<div class="columns">
  <div class="column is-1">
  </div>
  <div class="column is-10">
    <h1 class="title is-1">{{ head.title }} 🐍</h1>
    <div class="content">
      <h1 class="title is-2">Hallo #{{ current_user.id }}!</h1>
      <p>Today is {{ body.strftime }}.</p>
    </div>
  </div>
  <div class="column is-1">
  </div>
</div>

<div class="columns">
  <div class="column is-1">
  </div>
  <div class="column is-10">
    <p><hr></p>
  </div>
  <div class="column is-1">
  </div>
</div>

<div class="columns">
  <div class="column is-1">
  </div>
  <div class="column is-10">
    Test
  </div>
  <div class="column is-1">
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>



{% endblock %}
