{% for row in rows %}
<div class="columns">
  {% for card in row %}
  <div class="column is-3">
    {% if card.is_file %}
    <h2 class="title is-2">{{ card.headlines.number }}</h2>
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="{{ card.previewpic }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ card.headlines.filename }}</p>
            <p class="subtitle is-6">{% for tag in card.headlines.tags %}<span class="tag is-info">{{ tag }}</span> {%  endfor %}</p>
          </div>
        </div>

        <div class="content">{{ card.description }}
          <br>
          <time datetime="{{ card.filedate.datetime }}">{{ card.filedate.display }}</time>
        </div>
      </div>
    </div>
    {% else %}
    <h2 class="title is-2">{{ card.headlines.number }}</h2>
    <div class="card">
      <a href="{{ card.clicklink }}"><div class="card-image">
        <figure class="image is-1by1">
          <img src="{{ card.previewpic }}" alt="Placeholder image">
        </figure>
      </div></a>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ card.headlines.filename }}</p>
            <p class="subtitle is-6">{% for tag in card.headlines.tags %}<span class="tag is-info">{{ tag }}</span> {% endfor %}</p>
          </div>
        </div>

        <div class="content">{{ card.description }}!{{ card.clicklink }}!
          <br>
          <time datetime="{{ card.filedate.datetime }}">{{ card.filedate.display }}</time>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endfor %}
